// Variables
@import 'variables';

body{
    background: $blanco;
    color: $bluetext;
    font-size: 1em;
    background-color: #f8f5f5;
}

.row {
    margin-right: 0px; 
   margin-left: 0px; 
}

//Imagen de usuario
.logo-ico{
    width:80px;
    margin-top: 5px;
}
.user-image{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid $bluetext;
}
/*Estilos del menu*/
.navbar-light .navbar-nav .nav-link {
    color: $bluetext!important;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:hover, 
.navbar-light .navbar-nav .nav-link:active {
    color: $red!important;
    font-weight: 600;
}
.bg-light {
    background-color: $blanco !important;
    height: 90px;
}
.navbar-collapse{
    justify-content: flex-end !important;
}
.navbar {
    padding: 1rem 4rem !important;
}
.navbar-nav{
    justify-content: space-around;
}
.navbar-light .navbar-nav .nav-link {
    color: $bluetext;
    font-weight: 600;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: $bluetext;
}

.active >a {
    color: $red !important;
    background: none !important;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.9rem;
    color: $bluetext;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px;
    border-radius: 0.25rem;
}
.navbar-toggler:not(:disabled):not(.disabled) {
    border: none;
    position: absolute;
    right: 1rem;
    top: 1.4rem;
    color: $red !important;
}
.navbar-toggler-icon {
    color: $red !important;
}
.navbar-light .navbar-toggler-icon {
    background-image: none;
}

.navbar.navbar-light .navbar-toggler-icon {
    background-image: none!important;
    cursor: pointer;
}


.navbar.navbar-light .breadcrumb .nav-item.active>.nav-link,
.navbar.navbar-light .navbar-nav .nav-item.active>.nav-link {
    color: $red!important;
}


/*Estilos del footer*/
.main-footer{
    background: $bluetext;
    color: $blanco;
    .txt-Bold{
        font-weight: 600;
    }
}
.btn-footer{
    background: $blanco;
    color: $blanco;
    font-weight: 500;
    text-align: center;
    width: 30%;
    background: transparent;
    border: 2px solid $blanco;
}
.footer-form{
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
}
.footer-form .form-group {
    width: 100%;
}
.footer-form .md-form {
    width: 100%;
    margin-bottom: -0.5rem;
}
.footer-form .md-form input[type=date], .md-form input[type=datetime-local], .md-form input[type=email], .md-form input[type=number], .md-form input[type=password], .md-form input[type=search-md], .md-form input[type=search], .md-form input[type=tel], .md-form input[type=text], .md-form input[type=time], .md-form input[type=url], .md-form textarea.md-textarea {
    border-bottom: 1px solid $blanco;
    background-color: transparent;
    color: $blanco;
}
.footer-form .md-form label {
    color: $blanco;
    font-size: 1em;
}

.footer-form  .md-form input[type=date]:focus:not([readonly]), .md-form input[type=datetime-local]:focus:not([readonly]), .md-form input[type=email]:focus:not([readonly]), .md-form input[type=number]:focus:not([readonly]), .md-form input[type=password]:focus:not([readonly]), .md-form input[type=search-md]:focus:not([readonly]), .md-form input[type=search]:focus:not([readonly]), .md-form input[type=tel]:focus:not([readonly]), .md-form input[type=text]:focus:not([readonly]), .md-form input[type=time]:focus:not([readonly]), .md-form input[type=url]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly])
{
    color: $blanco;
}
.footer-form .md-form input[type=date]:focus:not([readonly])+label, .md-form input[type=datetime-local]:focus:not([readonly])+label, .md-form input[type=email]:focus:not([readonly])+label, .md-form input[type=number]:focus:not([readonly])+label, .md-form input[type=password]:focus:not([readonly])+label, .md-form input[type=search-md]:focus:not([readonly])+label, .md-form input[type=search]:focus:not([readonly])+label, .md-form input[type=tel]:focus:not([readonly])+label, .md-form input[type=text]:focus:not([readonly])+label, .md-form input[type=time]:focus:not([readonly])+label, .md-form input[type=url]:focus:not([readonly])+label, .md-form textarea.md-textarea:focus:not([readonly])+label {
    color: $blanco;
}
.footer-form  .md-form input[type=date]:focus:not([readonly]), .md-form input[type=datetime-local]:focus:not([readonly]), .md-form input[type=email]:focus:not([readonly]), .md-form input[type=number]:focus:not([readonly]), .md-form input[type=password]:focus:not([readonly]), .md-form input[type=search-md]:focus:not([readonly]), .md-form input[type=search]:focus:not([readonly]), .md-form input[type=tel]:focus:not([readonly]), .md-form input[type=text]:focus:not([readonly]), .md-form input[type=time]:focus:not([readonly]), .md-form input[type=url]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]) {
    -webkit-box-shadow: 0 1px 0 0 $blanco;
    box-shadow: 0 1px 0 0 $blanco;
    border-bottom: 1px solid $blanco;
}
textarea {
    height: 120px!important;
}

//iconos sociales
.conten-social{
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 2rem auto;
    justify-content: center;
}
.btn-social{
    width: 10%;
    margin: 1rem 2rem;
}
.btn-facebook{
    background-image: url("../../public/img/iface.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 35px;
    height: 35px;
}
.btn-facebook:hover{
    background-image: url("../../public/img/icoface.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 35px;
    height: 35px;
}
.btn-twitter{
    background-image: url("../../public/img/icoitwtter.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 35px;
    height: 35px;
}
.btn-twitter:hover{
    background-image: url("../../public/img/icotwitter.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 35px;
    height: 35px;
}
.btn-instagram{
    background-image: url("../../public/img/iciinstagram.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 35px;
    height: 35px;
}
.btn-instagram:hover{
    background-image: url("../../public/img/icoinstagram.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 35px;
    height: 35px;
}


.form-footer{
    width: 100%!important;
    text-align: center;
}

//Media queris para responsive
@media screen and (min-width: 1200px){
    .navbar-nav{
        width: 500px;  
    }
}

@media (min-width: 992px)
{
    .navbar-nav{
        margin-top: 0rem!important;
        width: 500px!important;
        height: 35px!important;
        z-index: 1000!important;
    }

    .contenedor-form {
        padding: 1.5rem 2rem !important;
        width: 100% !important;
        margin-left: -3rem !important;
    }
}
@media screen and (max-width: 768px){
    .logo-ico {
        width: 60px;
        margin-left: 1rem;
        position: absolute;
        top: 1rem;
        margin-bottom: 1rem;
        z-index: 1;
    }
    .navbar-collapse {
        background: $blanco;
        margin-top: .5rem;
        width: 100%!important;
    }
    .navbar-nav {
        margin-top: 2rem;
        width: 95%;
        height: 235px;
        z-index: 1000;
        background: $blanco;
    }
    .navbar {
        padding: .5rem 0rem !important;
    }
    .user-image {
        width: 48px;
        height: 48px;
        margin-left: 1rem;
        border-radius: 50%;
        border: 1px solid #0b5b87;
    }
    .contenedor-form {
        padding: 1.5rem 1rem!important;
        width: 112%!important;
        margin-left: -3rem!important;
    }
}

@media screen and (max-width: 580px){
    .logo-ico {
        width: 60px;
        margin-left: 1rem;
        position: absolute;
        top: 1rem;
        margin-bottom: 1rem;
        z-index: 1;
    }
    .navbar-collapse {
        background: $blanco;
        margin-top: .5rem;
        width: 100%!important;
    }
    .navbar-nav {
        margin-top: 2rem;
        width: 95%;
        height: 235px;
        z-index: 1000;
        background: $blanco;
    }
    .navbar {
        padding: .5rem 0rem !important;
    }
    .user-image {
        width: 48px;
        height: 48px;
        margin-left: 1rem;
        border-radius: 50%;
        border: 1px solid #0b5b87;
    }
    .row {
        margin-right: 0px!important; 
       margin-left: 0px!important; 
    }
    .btn-footer {
        width: 60%;
    }
    .img-ilustracion {
        display: none !important;
    }
    .contenedor-form {
        margin: 1rem auto!important;
        padding: 1.5rem 1rem!important;
        width: 100%!important;
    }
}